<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index_style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='image/diary-icon.png') }}"
    />

    <script>
      $(document).ready(function () {
        show_profile();
      });

      function save_profile() {
        let profile = $("#profile").val();
        $.ajax({
          type: "POST",
          url: "/login",
          data: { name_give: profile },
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
          },
        });
      }

      function update_profile() {
        let current_profile = $("#profile-input").text();
        let current = current_profile.split(" ")[1];
        let update = $("#new-profile").val();
        $.ajax({
          type: "PUT",
          url: "/login",
          data: { current_give: current, update_give: update },
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
          },
        });
      }

      function show_profile() {
        $.ajax({
          type: "GET",
          url: "/login",
          data: {},
          success: function (response) {
            let rows = response["profiles"];
            for (let i = 0; i < rows.length; i++) {
              let name = rows[i]["name"];
              if (rows.length == 0) {
                alert("닉네임을 입력해주세요!");
              } else {
                $("#main-page").show();
                $("#login-form").hide();
              }
              let temp_html = `<span>${name}</span>`;
              $("#profile-input").append(temp_html);
            }
          },
        });
      }
    </script>
  </head>

  <body>
    <div class="profile-page">
      <div class="create-box">
        <div class="create-box__icon">
          <img src="{{ url_for('static', filename='image/hello.PNG') }}" />
        </div>
        <div class="create-box__greeting">
          <span>Welcome!asdf</span>
          <span>Let's make profile!</span>
        </div>
        <form id="login-form" class="create-box__form">
          <label for="profile"
            ><input id="profile" type="text" placeholder="ID를 입력하세요."
          /></label>
          <input
            class="create-box__button"
            onclick="save_profile(), show_profile()"
            type="submit"
            value="login"
            required
          />
        </form>
      </div>
    </div>

    <div id="main-page">
      <span id="profile-input"></span>
    </div>

    <form id="update-form">
      <label for="new-profile"
        >ID<input id="new-profile" type="text" placeholder="ID를 입력하세요."
      /></label>
      <input
        onclick="update_profile(), show_profile()"
        type="submit"
        value="login"
        required
      />
    </form>
  </body>
</html>
